@font-face {
  src: url('/fonts/NineteenNinetySeven-11XB.ttf');
  font-family: 'NineteenNinetySeven';
}

@font-face {
  src: url('/fonts/SourceCodePro-Regular.ttf');
  font-family: 'SourceCodePro';
}

body {
  margin: 0px;
}
